{
	margin:0;
	padding:0;

}
h2.title{
	background-color:#069;
	width:100%;
	padding:20px;
	text-align: center;
	color: white;
}

.carrinho-container{
	display: flex;
	margin-top: 10px;

}
.produto{
	width: 33,3%
	padding:0 30px;
}
.produto img{
	max-width: 100%
}
.produto a{
	display: block;
	width: 100%
	padding:10px;
	color: red;
	text-align: center;
	text-decoration: none;
}